*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background: linear-gradient(
        to right,
        #558b2f,
        #1b5e20,
        #558b2f
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 98vw;
    overflow: hidden;
}
.app-container {
    width: 90vw;
}
h1 {
    box-shadow: 0 0 5px 5px #263238;
    border-radius: 5px;
}

.dual-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 89vw;
    margin: auto;
    justify-items: center;
    align-items: center;
}
.time-sets {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    width: 40vw;
    justify-items: center;
    align-items: center;
}
.btn-large {
    margin: 0 1rem 0 1rem;
    border: 1px solid #1b0900;
    color: #1b0900
}
